@use "sass:math";

@function rem($pixels) {
  @return math.div($pixels, 16) * 1rem;
}

$default_border-width: 1px;
$default_border: $default_border-width solid black;
$container_padding: 10px;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

body,
main {
  display: flex;
  flex-direction: column;
}

html,
body {
  height: 100%;
}

header,
main,
.tabContent {
  padding: $container_padding;
}

header {
  border-bottom: $default_border;

  > h1 {
    font-size: 1.5em;
    margin: 0;
  }
}

section {
  &:not(:last-child) {
    margin-bottom: $container_padding * 2;
  }

  > h2 {
    font-size: 1.2em;
  }

  > h2,
  > p {
    margin: 0;
    margin-bottom: 0.5em;
  }
}

main {
  flex-grow: 1;
  background: #eeeeee;
}

button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  padding: rem(2) rem(8);
  font-size: 1em;
  font-family: sans-serif;
}

.tabs {
  display: flex;
  margin-top: -$default_border-width;
  transform: translateY($default_border-width);

  > button {
    -webkit-appearance: none;
    background: #dddddd;

    &:not(:last-child) {
      border-right: none;
    }

    &.current {
      border-bottom: none;
    }
  }
}

.tabContent,
.tabs button {
  border: $default_border;
}

.tabContent {
  flex-grow: 1;
}

.tabContent,
.tabs button.current {
  background: #ffffff;
}

#settings_translations_progress {
  width: 75%;
  margin-right: $container_padding;
}

#settings_translations_progressTask_error {
  color: red;
  font-weight: bold;
}
